@font-face {
	font-family: TTNormsPro;
	font-display: swap;
	src: url("../fonts/TTNormsPro-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: TTNormsPro;
	font-display: swap;
	src: url("../fonts/TTNormsPro-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: TTNormsPro;
	font-display: swap;
	src: url("../fonts/TTNormsPro-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TTNormsPro;
	font-display: swap;
	src: url("../fonts/TTNormsPro-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: TTNormsPro;
	font-display: swap;
	src: url("../fonts/TTNormsPro-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: TTNormsPro;
	font-display: swap;
	src: url("../fonts/TTNormsPro-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
