@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@use "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

// Підключити, якщо є локальні файли шрифтів
 @use "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
// @import "fonts/icons";



// Підключення стилів загальних елементів проекту
@use "common";

// Підключення стилів окремих блоків
@use "header";
@use "footer";

// Підключення стилів окремих сторінок
@use "home";



// Підключення компонентів tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
 @use "libs/tailwind";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "TTNormsPro";
$fontSize: 16px; // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toRem($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toRem(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toRem(767.98); // Телефони L
$mobileSmall: toRem(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================
// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@use "base" as *;

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@use "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	scrollbar-gutter: stable;
	min-width: $minWidth + px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-family: $fontFamily;
	background-color: #d2c1cb;
	overflow: hidden;
	// Скролл заблоковано
	.nav-active & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	.lenis & {
		transition: all .3s ease-in-out 1s;
    	opacity: 1;
	}
	.has-scroll-init & {
		transition: all .3s ease-in-out 1s;
    	opacity: 1;
	}
	// Сайт завантажений
	.loaded & {
		transition: all .3s ease-in-out .3s;
    	opacity: 1;
		overflow: visible;
	}
}

body.nav-active {
	overflow: hidden;
	touch-action: none;
	overscroll-behavior: none;
	transition: var(--animation-primary);
	transition: transform .3s cubic-bezier(.2, 1.33, .25, 1);
	@media (min-width: 676px) {
	//	transform: translateX(70px) rotate(0.001deg);
	}
}
body .fixed-nav-back  {
    background: linear-gradient(to right, hsla(220, 13%, 0%, .3) 40%, hsla(220, 13%, 0%, 1) 80%);
    opacity: 0;
  //  transition: opacity .8s cubic-bezier(.7, 0, .2, 1);
    z-index: 100;
    pointer-events: none;
    will-change: opacity;
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// (i) Експерементальний функціонал
// Заміна обмежуючому контейнеру
// [class*="--gc"] {
// 	@include gridContainer();
// }
.menu__body {
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 8em;
		left: 0;
		top: 0;
		background-color: #7a124d;
		z-index: 5;
	}
}

.nav-active .fixed-nav-back {
    opacity: .35;
    pointer-events: all;
}

.fixed-nav-back {
    background: linear-gradient(to right, hsla(220, 13%, 0%, .3) 40%, hsla(220, 13%, 0%, 1) 80%);
    opacity: 0;
    transition: opacity .8s cubic-bezier(.7, 0, .2, 1);
    z-index: 100;
    pointer-events: none;
    will-change: opacity;
}
.menu__body {
	&.active {
		transform: translateX(-0) rotate(0.001deg);
		@media (max-width: 676px) {
			transform: translateX(0%) rotate(0.001deg);
		}
	}
}
.menu.active {
	span:nth-child(1) {
		transform: translateX(0%) rotate(45deg);
	}
	span:nth-child(2) {
		transform: translateX(0%) rotate(-45deg);
	}
}
body.nav-active ~ .wrapper {
	transform: translateX(100px) rotate(0.001deg);
}


.btn-hamburger {
	@media (any-hover: hover){
		&:hover{
			.menu__body & {
				left: -3vw !important;
			}
		}
	}
}

:root {
	--gap-padding: clamp(1.5em, 4vw, 2.5em);
}
::-webkit-scrollbar {
    width: 3px;
	border-radius: 4em;
}

::-webkit-scrollbar-thumb {
    background: var(--inverse);
	background-color: #7a124d;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
	background-color: #7a124d;
}

::-webkit-scrollbar-track {
    background: #d2c1cb;
}

//======= lenis Recommended CSS =================================================================================================================================================

html.lenis, html.lenis body { height: auto; } 
.lenis.lenis-smooth {scroll-behavior: auto; height: 100vh;}
.lenis.lenis-smooth [data-lenis-prevent] {overscroll-behavior: contain;}
//.lenis.lenis-stopped {overflow: hidden;}
.lenis.lenis-scrolling iframe {pointer-events: none;}
//========================================================================================================================================================

.menu.scrolled {
    transition: transform .4s cubic-bezier(0.34, 1.5, 0.64, 1);
    transform: translateY(0%) scale(1) rotate(0.001deg);
	
}

.menu1 {
    position: fixed;
    top: calc(var(--gap-padding) / .64);
    left: calc(var(--gap-padding) * 2);
    transition: transform .4s cubic-bezier(0.36, 0, 0.66, 0);
	background-color: #7a124d;
	height: 48px;
	padding: 0;
    transform: translateY(0%) scale(0) rotate(0.001deg);
    z-index: 105;
	
}